---
layout: layout.liquid
title: Polaroid Cloud
---

<h1 class="marginSizingBelowTitle">Polaroid Cloud</h1>


<main>
<h2>FILM TO</h2>
<h2  class="spaceUnderImage">PHONE</h2>

<h3 class="spaceAboveImage">Any cloud, anytime.</h3>
    <p class="paragraphBox">With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying the instant printing
    you've come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR
    code is generated and printed with the instant photo. Perfect for sharing with your firends and family.</p>

<h3>Easy, cheesy!</h3>

<section>
    <div class="infoBox">
        <img class="imageSizing" src="images/wifi.png" alt="wifi logo of 2 bars and a circle at the bottom">
        <p>Connect your Polaroid to a WiFi network</p>
    </div>

    <div class="infoBox">
        <img class="imageSizing" src="images/cloudUpload.png" alt="cloud symbol with up arrow in the middle">
        <p>Configure your favorite cloud</p>
    </div>

    <div class="infoBox">
        <img class="imageSizing" src="images/qrCode.png" alt="3 squares aligned in a square pattern with a 4th at the bottom right that resembles a QR code">
        <p>Point, shoot, and print your QR-tagged photo</p>
    </div>

    <div class="infoBox">
        <img class="imageSizing" src="images/photos.png" alt="two rectangles,one that resembles a photo of a mountain, and one that resembles the side of film">
        <p>Share your physical and digital photos with friends and family</p>
    </div>
    
</section>


<h3 class="marginSizingAboveEmail">Be the first to know.</h3>

<form class="emailBox">
    <label class="emailLine" for="lname">Enter your email address to recieve updates</label>
    <button class="button" type="submit" form="form1" value="Submit">KEEP IN TOUCH</button>
</form>

</main>